<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>S L O T H B E A R  A P P</title>
  </head>
  <body>
    <main data-ng-app="slothbearApp">
      <section data-ng-controller="BearsController as bearsctrl" data-ng-init="bearsctrl.getAll()">
        <form data-ng-submit="bearsctrl.createBear()">
          <label>Name
            <input type="text" name="name" data-ng-model="bearsctrl.newBear.name">
          </label>

          <label>Weight
            <input type="text" name="weight" data-ng-model="bearsctrl.newBear.weight" placeholder="500">
          </label>

          <label>Strength
            <input type="text" name="strength" data-ng-model="bearsctrl.newBear.strength" placeholder="10">
          </label>

          <label>Gender
            <input type="text" name="gender" data-ng-model="bearsctrl.newBear.gender">
          </label>

          <button type="submit">Create Bear</button>
        </form>

        <ul id="bearslint">
          <li data-ng-repeat="bear in bearsctrl.bears">
            <span data-ng-if="!bear.editing">{{ bear.name }} (gender: {{ bear.gender }}) weighs {{ bear.weight }} lbs and has a strength of {{ bear.strength }}
          </li>
        </ul>
      </section>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
